/*Potion_1*/
/*MagicBall aumenta de tamaño*/

body.potion-one #magic_ball {
    transform: scale(1.5);
}


/*Potion_1_end*/


/*Potion_2*/
/*MagicBall disminuye de tamaño*/

body.potion-two #magic_ball {
    transform: scale(0.5);
}

/*Potion_2_end*/


/*Potion_3*/
/*MagicBall se deforma*/

@keyframes skeOne {
  0% {transform: skewX(0);}
  40% {transform: skewX(35deg);}
  80% {transform: skewX(-35deg);}
  100% {transform: skewX(0);}
}

body.potion-three #magic_ball {
    animation: skeOne 2.5s infinite;
}

/*Potion_3_end*/


/*Potion_4*/
/*MagicBall rebota*/

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5em); }
}

body.potion-four #magic_ball {
    animation: bounce 0.6s infinite;
}

/*Potion_4_end*/


/*Potion_5*/
/*MagicBall brilla*/

@keyframes glow {
    0%, 100% { box-shadow: 0 0 10px #aeefff, 0 0 20px #7fdfff; }
    50% { box-shadow: 0 0 25px #ffffff, 0 0 50px #7fdfff; }
}

body.potion-five #magic_ball {
    animation: glow 1s infinite;
}

/*Potion_5_end*/


/*Potion_6*/
/*MagicBall aparece y desaparece*/

@keyframes vanish {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
body.potion-six #magic_ball {
    animation: vanish 3s infinite;
}

/*Potion_6_end*/